.pagination {
  margin: 1em auto;
  text-align: center;
}

.pagination-button {
  text-align: center;
  border: 1px solid #999999;
  border-radius: 16px;
  background-color: #f1f1f1;
  transition: background-color .2s;
  color: #000000;
  cursor: pointer;
  margin: 8px;
  width: 34px;
  height: 34px;
  font-size: 20px;
}

.pagination-button:hover {
  border-color: #0000cd;
}

.pagination-button:focus {
  outline: none;
}

.pagination-button:disabled {
  background-color: #f1f1f1;
  border-color: #999999;
  cursor: not-allowed;
}

.pagination-info {
  font-size: 12px;
}
