.detail {
  align-items: center;
  min-height: 80vh;
  margin-left: auto;
  margin-right: auto;
  margin: 0.5em;
}
.detail-heading {
  width: 100%;
  text-align: center;
  padding: 0.5em 0 1em 0;
  margin: 0;
}
.detail-item {
  font-weight: bold;
  margin-bottom: 1em;
}
.detail-value {
  font-weight: normal;
  font-size: 14px;
  margin-left: 1em;
}
.detail-para {
  font-weight: normal;
  font-size: 14px;
}
.detail-title {
  display: block;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

@media all and (min-width: 801px) {
    .detail {
        width: 80%;
    }
    .detail-container {
        display: flex;
    }
    .detail-container-left {
        order: 1;
        flex: 0 0 35%;
        height: 100%;
        padding: 0 2em 0 0.5em;
    }
    .detail-container-right {
        order: 2;
        flex: 1;
        padding: 0 0.5em 0.5em 0.5em;
        width: 100%;
    }
}
@media all and (max-width: 800px) {
    .detail-container {
        display: flex;
        align-items: stretch;
        flex-flow: column wrap;
    }
    .detail-container-left {
        order: 1;
        padding: 0;
    }
    .detail-container-right {
        margin-top: 2em;
        order: 2;
        width: 100%;
    }
}