.header {
  vertical-align: top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2em;
}
.developed-by {
    top: 0;
    left: 0;
    height: 2em;
    line-height: 2em;
}
.website-link {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}